body {
    font-family: "Poppins", sans-serif;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    margin: 0px;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: whitesmoke;
    color: black;
    z-index: 10;
}

#container {
    inset: 0px;
    width: 100%;
    max-width: 650px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    margin-bottom: 0px;
}

h1 {
    font-weight: bold;
    line-height: 30px;
    font-size: 2.5em;
}

h2 {
    font-weight: normal;
    line-height: 0px;
    font-size: 1.6em;
}

h3 {
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 0;
    margin-top: 30px;
}

#tagLine {
    text-align: center;
    font-style: italic;
    font-size: 1.25em;
}

#headerCall {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#headerCallIcon {
    width: 100%;
    height: 100%;
}

#phoneContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
}

#brushStroke {
    width: 100%;
    height: auto;
    display: block;
}

#phoneNumber {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 2.22em;
    text-decoration: none;
    font-weight: bold;
}

#rollerIcon {
    width: 25%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 9%;
}


#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}

.galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryItem {
    margin: 0;
}

footer {
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}

small {
    size: 1em;
    color: #444;
}