@font-face {
    font-family: "Poppins";
    src: url("https://sambelcastro.com/Fonts/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("https://sambelcastro.com/Fonts/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}